
body {
    background-color: darkgoldenrod ;
    background-image: url(/HTML/img/quotes.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Lobster, cursive;

}

h1.fancy-header {
    /* single line comment */
    text-decoration: underline;
    text-align: center;
}
h2 {
    color: darkblue;
    text-decoration: underline;
}

ul li {
    list-style-image: url("/HTML/img/GitHub-Mark-16px.png");
}

table {
    /*margin:auto;*/
    border: 1px solid;
    align: left;
    width: 50%;
    font-size: 1.2rem;
    /*border-collapse: collapse;*/

}

th, td {
    border: 1px solid;
    height: 50px;
    vertical-align: bottom;
}

/*better to use hex numbers*/
a:link {
    color: chartreuse;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: red;
}

a:active {
    color: hotpink;
}